@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Hoşgeldiniz</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">CET Bölümü Nedir?</div>
                <div class="card-body">
                    <p class="text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum dignissim lectus. Nam eget porttitor arcu. Phasellus vel tortor suscipit, laoreet felis vel, finibus augue. Phasellus eu lectus sit amet ipsum lacinia cursus quis sit amet lorem. Aliquam vel posuere nibh. Sed efficitur leo a diam sodales, non tempus mauris rutrum. Donec vitae hendrerit elit. Quisque ornare lacus id quam sodales scelerisque. Nulla libero nunc, dapibus vitae commodo vitae, dapibus id ante. Mauris eget libero a mauris lacinia accumsan. Nulla facilisi.
                        </p>
                    <p class="text-left">
                        Mauris id mi vitae enim tempus porta vel ac leo. Curabitur id commodo nisi. Donec vitae dapibus odio. Suspendisse potenti. Donec venenatis tincidunt purus at sodales. Nunc eu magna nec lacus tempor porttitor. Suspendisse id elit sit amet justo efficitur elementum. Morbi ullamcorper facilisis dolor id tincidunt. Nullam faucibus lorem arcu, a bibendum sapien varius non. Integer ac scelerisque massa. Nunc quis ultricies mi.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Çalışma Alanları</div>
                <div class="card-body">
                    <p class="text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum dignissim lectus. Nam eget porttitor arcu. Phasellus vel tortor suscipit, laoreet felis vel, finibus augue. Phasellus eu lectus sit amet ipsum lacinia cursus quis sit amet lorem. Aliquam vel posuere nibh. Sed efficitur leo a diam sodales, non tempus mauris rutrum. Donec vitae hendrerit elit. Quisque ornare lacus id quam sodales scelerisque. Nulla libero nunc, dapibus vitae commodo vitae, dapibus id ante. Mauris eget libero a mauris lacinia accumsan. Nulla facilisi.
                    </p>
                    <p class="text-left">
                        Mauris id mi vitae enim tempus porta vel ac leo. Curabitur id commodo nisi. Donec vitae dapibus odio. Suspendisse potenti. Donec venenatis tincidunt purus at sodales. Nunc eu magna nec lacus tempor porttitor. Suspendisse id elit sit amet justo efficitur elementum. Morbi ullamcorper facilisis dolor id tincidunt. Nullam faucibus lorem arcu, a bibendum sapien varius non. Integer ac scelerisque massa. Nunc quis ultricies mi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
