@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Boğaziçi Üniversitesi CET Dayanışma Platformuna Hoşgeldiniz</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">CET Bölümü Nedir?</div>
                <div class="card-body">
                    <p class="text-left">
                        Bilgisayar ve Öğretim Teknolojileri, Türkiye’de Eğitim Fakülteleri içinde yer alan, ilgi alanınıza göre çeşitli seçimler sağlayan bir bölümdür.
                        Bilgisayar ve Öğretim Teknolojileri Eğitimi Bölümü lisans derecesine kadar dört yıllık bir program sunmaktadır. Lisans programı, öğrencilerin sadece öğretim pozisyonlarına girmelerini değil, aynı zamanda eğitim teknolojisi, öğretim tasarımı, eğitimsel hesaplama ve programlama gibi mesleklere hazırlanmalarını da amaçlamaktadır. Öğretim ve öğrenmede güncel yaklaşımlar da dahil olmak üzere eğitimde sağlam bir teorik temel sağlar ve öğrencileri ileri teknolojik becerilerle donatır. Program, öğrenme ve öğretme için süreç ve araçların analizi, tasarımı, geliştirilmesi, uygulanması ve değerlendirilmesine odaklanarak eğitim ve teknoloji alanlarının entegrasyonunu hedeflemektedir. Bu amaca yönelik olarak lisans programı, eğitim yazılımı geliştirme, programlama dilleri, uzaktan eğitim, internet ve e-öğrenme, öğretim ilke ve yöntemleri, araştırma yöntemleri ve öğretim uygulamasının yanı sıra eğitim bilimleri ve öğretim bölümleri tarafından sunulan dersleri içerir.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Çalışma Alanları Nelerdir?</div>
                <div class="card-body">
                    <p class="text-left">Bir Boğaziçi CET mezunu, </p>
                    <ul>
                        <li>
                            <p class="text-left">Üniversitelerde hali hazırda uygulanmakta olan Öğretim Elemanı Yetiştirme (ÖYP) programları aracılığı ile geleceğin akademisyenleri olarak;</p>
                        </li>
                        <li>
                            <p class="text-left">Eğitim yazılımları geliştiren firma ya da kurumlarda eğitim uzmanı, içerik geliştirme uzmanı ya da öğretim teknoloğu olarak;</p>
                        </li>
                        <li>
                            <p class="text-left">Uzaktan eğitim kurumlarında ya da bu konuda uzmanlaşmış firmalarda uzaktan eğitim yöneticisi, proje yöneticisi, uzaktan eğitim uzmanı, içerik geliştirme uzmanı ya da konu alanı uzmanı olarak;</p>
                        </li>
                        <li>
                            <p class="text-left">Bilgi işlem dairelerinde ağ sorumlusu, veritabanı uzmanı ya da yazılım geliştirme uzmanı olarak;</p>
                        </li>
                        <li>
                            <p class="text-left">Firmalarda grafik ve canlandırma tasarımcısı olarak;</p>
                        </li>
                        <li>
                            <p class="text-left">Kamu ve özel kurumların eğitim bölümlerinde eğitim uzmanı ya da öğretim teknoloğu olarak;</p>
                        </li>
                        <li>
                            <p class="text-left">Dershanelerde, halk eğitim merkezlerinde ya da yaygın eğitim etkinliklerinde çeşitli bilgisayar alanlarında öğretmen olarak;</p>
                        </li>
                        <li>
                            <p class="text-left">Özel ilk ve orta öğretim kurumlarında öğretim teknoloğu ya da araştırma-geliştirme uzmanı olarak;</p>
                        </li>
                    </ul>
                    <p class="text-left">çalışabilmektedir.</p>
                </div>
            </div>
        </div>
    </div>
</div>
