@{
    ViewData["Title"] = "Dersler";
}
<h1>@ViewData["Title"]</h1>

<p>Bu sayfada alabileceğiniz seçmeli ders önerileri paylaşılmaktadır.</p>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="border-bottom-0"scope="col">#</th>
                        <th class="border-bottom-0"scope="col">Adı</th>
                        <th class="border-bottom-0"scope="col">Numara</th>
                        <th class="border-bottom-0"scope="col">Dönem</th>
                        <th class="border-bottom-0"scope="col">Kolaylığı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>SCED</td>
                        <td>240</td>
                        <td>Her Dönem</td>
                        <td>Kek Ders</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>CET</td>
                        <td>48B</td>
                        <td>2020-3</td>
                        <td>Kolay Değil</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>PE</td>
                        <td>182</td>
                        <td>Her Dönem</td>
                        <td>Çok basit</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>CET</td>
                        <td>360</td>
                        <td>2020-1,2020-2</td>
                        <td>Uğraştırıcı</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>PRED</td>
                        <td>260</td>
                        <td>2020-1</td>
                        <td>Çerezlik,basit</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>HUM</td>
                        <td>101</td>
                        <td>Her Dönem</td>
                        <td>Asla Almayın</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>CET</td>
                        <td>48a</td>
                        <td>2020-3</td>
                        <td>Zor</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>PHYS</td>
                        <td>226</td>
                        <td>2020-2</td>
                        <td>Orta Zorluk</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>PHYS</td>
                        <td>222</td>
                        <td>2020-1</td>
                        <td>Kolay Değil</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>AE</td>
                        <td>121</td>
                        <td>Her Dönem</td>
                        <td>Zor</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>CET</td>
                        <td>48B</td>
                        <td>2020-3</td>
                        <td>Kolay Değil</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>CET</td>
                        <td>48B</td>
                        <td>2020-3</td>
                        <td>Kolay Değil</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>PSY</td>
                        <td>140</td>
                        <td>2020-3</td>
                        <td>Kolay</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
