@{
    ViewData["Title"] = "Dersler";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor, enim id tincidunt condimentum, ligula lorem rhoncus urna, sed suscipit eros metus sed velit.</p>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="border-bottom-0"scope="col">#</th>
                        <th class="border-bottom-0"scope="col">Adı</th>
                        <th class="border-bottom-0"scope="col">Numara</th>
                        <th class="border-bottom-0"scope="col">Dönem</th>
                        <th class="border-bottom-0"scope="col">Kolaylığı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>CET</td>
                        <td>305</td>
                        <td>2019-3</td>
                        <td>Kek</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>CET</td>
                        <td>305</td>
                        <td>2019-3</td>
                        <td>Kek</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
