@{
    ViewData["Title"] = "Öğretmenler";
}
<h1>@ViewData["Title"]</h1>

<p>Bu sayfada CET bölümünde ders veren  hocalarımız ve onlarla tanışmadan önce fikir vermesi açısından genel kişisel özelliklerine yer verilmişti</p>

<div class="row mt-5">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
            <img src="~/img/EkremKutbay.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="small">
                    <small class="badge badge-primary">Öğretim Görevlisi</small>
                </div>
                <h5 class="card-title">Ekrem Kutbay</h5>
                <ul class="small list-group list-group-flush">
                    <li class="list-group-item p-1">Bölümün en kral hocalarındandır.</li>
                    <li class="list-group-item p-1">Dersine asla geç kalmayın.</li>
                    <li class="list-group-item p-1">Notu bol değildir ama iyi yapanın hakkını verir.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
            <img src="~/img/YavuzAkpinar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="small">
                    <small class="badge badge-warning">Profesör</small>
                </div>
                <h5 class="card-title">Yavuz Akpınar</h5>
                <ul class="small list-group list-group-flush">
                    <li class="list-group-item p-1">Bölümde sadece CET215 dersine girer</li>
                    <li class="list-group-item p-1">Babacan tavırlıdır, komik, espri anlayışı yüksektir</li>
                    <li class="list-group-item p-1">Fizikleri başımıza bela etmiştir.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
            <img src="~/img/HamdiErkunt.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="small">
                    <small class="badge badge-warning">Öğretim Görevlisi</small>
                </div>
                <h5 class="card-title">Hamdi Erkunt</h5>
                <ul class="small list-group list-group-flush">
                    <li class="list-group-item p-1">Bölümümüzün en serseri ruhlu insanıdır(iyi manada)</li>
                    <li class="list-group-item p-1">Büyük ihtimal dersinden geçersiniz</li>
                    <li class="list-group-item p-1">Notu fazlasıyla bol</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
            <img src="~/img/MutluSenAkbulut.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="small">
                    <small class="badge badge-secondary">Öğretim Görevlisi</small>
                </div>
                <h5 class="card-title">Mutlu Şen Akbulut</h5>
                <ul class="small list-group list-group-flush">
                    <li class="list-group-item p-1">Kendisi çok tatliştir.</li>
                    <li class="list-group-item p-1">Çok güzel ders anlatır, not sıkıntınız kolay kolay olmaz</li>
                    <li class="list-group-item p-1">Danışman olarak çok ilgilidir</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
            <img src="~/img/HuseyinSimsek.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="small">
                    <small class="badge badge-success">Öğretim Görevlisi</small>
                </div>
                <h5 class="card-title">Hüseyin Şimşek</h5>
                <ul class="small list-group list-group-flush">
                    <li class="list-group-item p-1">Part-time hocalarımızdandır</li>
                    <li class="list-group-item p-1">Dersleri bloktur, katılım zorunluluğu yoktur</li>
                    <li class="list-group-item p-1">Not takıntınız olmasın, her türlü yardımcı olmaya çalışır</li>
                </ul>
            </div>
        </div>
    </div>
</div>
