@{
    ViewData["Title"] = "Öğretmenler";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor, enim id tincidunt condimentum, ligula lorem rhoncus urna, sed suscipit eros metus sed velit.</p>

<div class="row mt-5">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
            <img src="~/img/loginScreen.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="small">
                    <small class="badge badge-primary">Profesör</small>
                </div>
                <h5 class="card-title">Rasim Dıravacı</h5>
                <ul class="small list-group list-group-flush">
                    <li class="list-group-item p-1">Dünyanın en yavşak insanı</li>
                    <li class="list-group-item p-1">Pezevenk</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
            <img src="~/img/loginScreen.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="small">
                    <small class="badge badge-warning">Öğretim Görevlisi</small>
                </div>
                <h5 class="card-title">Rasim Dıravacı</h5>
                <ul class="small list-group list-group-flush">
                    <li class="list-group-item p-1">Dünyanın en yavşak insanı</li>
                    <li class="list-group-item p-1">Pezevenk</li>
                </ul>
            </div>
        </div>
    </div>
</div>
